#barra {
  background-color: black;
  width: 20px;
  height: 150px;
  margin: auto;
}

#semaforo {
  background-color: black;
  width: 150px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
  padding-top: 35px;
}
.luz {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.roja {
  background-color: red;
  cursor: pointer;
}

.amarilla {
  margin-top: 20px;
  background-color: yellow;
  cursor: pointer;
}
.verde {
  margin-top: 20px;
  background-color: green;
  cursor: pointer;
}
.encendido {
  -webkit-box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 1);
}
